 
  .switch {
    position: fixed;
    display: inline-block;
    top: 20px;
    right: 0px;
    // width: 60px;
    // height: 30px;
    cursor: pointer;
    
    & input{ /* Hide default HTML checkbox */
        opacity: 0;
        width: 0;
        height: 0;}
    .darkModeSwitch{
      position: absolute;
      .lightBase {
        position: absolute;
      }
      .darkBase {
        position: absolute;
      }
      .moon {
        position: absolute;
      }
      .sun {
        position: absolute;
      }
    }
  }

  .fadeIn {
    animation: fadeIn 0.7s ease-in-out forwards;
  }
  
  .fadeOut {
    animation: fadeOut 0.7s ease-in-out forwards;
  }

  .sunOut {
    animation: sunOut 0.7s ease-in-out forwards;
    transform-origin: center;
  }

  .sunIn {
    animation: sunIn 0.7s ease-in-out forwards;
    transform-origin: center;
  }

  .moonOut {
    animation: moonOut 0.7s ease-in-out forwards;
    transform-origin: center;
  }

  .moonIn {
    animation: moonIn 0.7s ease-in-out forwards;
    transform-origin: center;
  }
  
  @keyframes sunOut {
    from {
      opacity: 1;
      transform: none;
    }
    to {
      opacity: 0;
      transform: rotate(180deg) translateX(14px);
    }
  }

  @keyframes sunIn {
    from {
      opacity: 0;
      transform: rotate(-180deg) translateX(14px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes moonOut {
    from {
      opacity: 1;
      transform: none;
    }
    to {
      opacity: 0;
      transform: rotate(180deg) translateX(14px);
    }
  }

  @keyframes moonIn {
    from {
      opacity: 0;
      transform: rotate(-180deg) translateX(14px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
/* The slider */
// .slider {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #2196F3;
//     -webkit-transition: .4s;
//     transition: .4s;
//     &:before {
//       position: absolute;
//       content: "";
//       height: 23px;
//       width: 23px;
//       left: 4px;
//       bottom: 4px;
//       background-color: #f90;
//       -webkit-transition: .4s;
//       transition: .4s;
//     }
//     &.round {
//       border-radius: 34px;
//       &:before {
//         border-radius: 50%;
//       }
//     }
// }
  
//   input:checked + .slider {
//     background-color: #00072D;
//   }
  
//   // input:focus + .slider {
//   //   box-shadow: 0 0 1px #2196F3;
//   // }
  
//   input:checked + .slider:before {
//     -webkit-transform: translateX(26px);
//     -ms-transform: translateX(26px);
//     transform: translateX(26px);
//     background-color: #83817a;
//   }
  

