@import "variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  background-color: $background-color;
}

.App {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: 1fr 3fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "about projects projects"
    "about certificates blog"
    "footer footer footer";
  gap: 10px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  z-index: 20000;
}

.Header {
  grid-area: header;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 0px;
  z-index: 10002;
}

.About {
  grid-area: about;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 40em;
  min-width: 21em;
  // max-width: 55ch;
  margin: 0.5em 0em 5em 5em;
  border-radius: 2% 2% 15% 2%;
  padding: 1em;
  z-index: 10002;
  box-shadow: inset 0 0 20px $bento-color;
  .logo {
    position: relative;
    display: inline-block;
    margin-right: -119px;
    margin-left: 2em;
    top: 0;
    cursor: pointer;
    filter: drop-shadow(0 0 10px $background-color);
    z-index: 10000;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  .photo {
    position: relative;
    top: 3px;
    margin-left: 0;
    filter: drop-shadow(0 0 10px $background-color);
    z-index: 9999;
  }
  &Article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 47ch;
    margin-left: 1em;
    margin-right: 5em;
    z-index: 10002;
  }
  &Title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
  }
  &Text {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0;
  }
}

.Projects {
  grid-area: projects;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 21em;
  margin-top: 0.5em;
  margin-right: 2em;
  border-radius: 2% 2% 15% 2%;
  padding: 20px;
  z-index: 10002;
  box-shadow: inset 0 0 20px $bento-color;
  &Title {
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.Project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  &box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 9em;
    width: 18em;
    margin: 1em;
    box-shadow: inset 0 0 10px $bento-color;
    border-radius: 10%;
    cursor: pointer;
    z-index: 11000;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  &Imgs {
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    gap: 0.2em;
    img {
      max-height: 3em;
      border-radius: 10%;
    }
  }
}

.Certificates {
  grid-area: certificates;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 11em;
  border-radius: 2% 2% 15% 2%;
  margin-bottom: 5em;
  padding: 20px;
  z-index: 10002;
  box-shadow: inset 0 0 20px $bento-color;
}

.Blog {
  grid-area: blog;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 11em;
  margin-right: 2em;
  margin-bottom: 5em;
  border-radius: 2% 2% 15% 2%;
  padding: 20px;
  z-index: 10002;
  box-shadow: inset 0 0 20px $bento-color;

}

.Footer {
  grid-area: footer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  right: 3em;
  bottom: 2em;
  z-index: 10002;
  &Icon {
    margin: 0 0.5em;
    color: $bento-color;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.lightBg {
  animation: lightBg 1s forwards;
}

.darkBg {
  animation: darkBg 1s forwards;
}

.scaleIn {
  animation: scaleIn 1s forwards;
}

.scaleOut {
  animation: scaleOut 1s forwards;
}

.scaleMax {
  animation: scaleMax 1s forwards;
}

@keyframes darkBg {
  0% {
    background-color: $background-color;
    color: $text-color;
  }
  100% {
    background-color: $dark-background-color;
    color: $background-color;
  }
}

@keyframes lightBg {
  0% {
    background-color: $dark-background-color;
    color: $background-color;
  }
  100% {
    background-color: $background-color;
    color: $text-color;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaleMax {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 1150px) {
  .App {
    display: flex;
    flex-direction: column;
  }

  .About {
    justify-content: center;
    align-items: center;
    min-height: 40em;
    margin: 5em;
  }

  .Projects {
    overflow: auto;
    min-height: 40em;
    margin: 5em;
    scrollbar-width: none;
    ::-webkit-scrollbar {
      display: none;
    }
    &Title {
      margin-top: 1em;
    }
  }

  .Project {
    grid-template-columns: repeat(1, 1fr);
    &box {
      height: 10em;
      width: 20em;
    }
  }

  .Certificates {
    min-height: 40em;
    margin: 5em;
  }

  .Blog {
    min-height: 40em;
    margin: 5em;
  }

  .Footer {
    bottom: 20000px;
  }
}