@import "variables";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  background-color: $background-color;
}

.App {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  z-index: 20000;
}

.Header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  z-index: 10002;
}

.About {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  padding: 20px;
  z-index: 10002;
  .logo {
    margin: 0 10px;
    filter: drop-shadow(0 0 10px $background-color);
  }

}

.Footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  right: 50px;
  z-index: 10002;
  &Icon {
    margin: 0 10px;
    color: $text-color;
  }
}

.lightBg {
  animation: bgLight 1s forwards;
}

.darkBg {
  animation: bgDark 1s forwards;
}

@keyframes bgDark {
  0% {
    background-color: $background-color;
  }
  100% {
    background-color: $dark-background-color;
  }
}

@keyframes bgLight {
  0% {
    background-color: $dark-background-color;
  }
  100% {
    background-color: $background-color;
  }
}
