@import "variables";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  background-color: $background-color;
}

.Header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  background-color: $background-color;
  z-index: 10002;
}

.About {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  padding: 20px;
  background-color: $background-color;
  z-index: 10002;
  &Icon {
    margin: 0 10px;
    color: $text-color;
  }

}

.Footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  right: 50px;
  background-color: $background-color;
  z-index: 10002;
  &Icon {
    margin: 0 10px;
    color: $text-color;
  }
}